.bg-gray {
  background-color: rgb(202,222,239);
}

a {
  color: rgb(57,172,231);
}

a:hover {
  color: rgb(7,132,181);
}

.banner-img {
  background-image: url("../img/starryback.jpg"); 
  background-size: cover;
  color: white;
}

.iconic {
  float: right;
}

.foot-style {
  background-color: rgb(7,132,181);
  color: #fff;
}

.checked {
  color: rgb(57,172,231);
}

span {
  color: rgb(163, 163, 163);
}