body {
  background-color: #343a40;
  color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #fff;
}

.fullwidth {
  width: 100%;
}

main {
  padding: 20px 0px;
}

.page {
  background: #000;
}
